* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Zilla Slab', serif;
  /*font-style: bold;*/
}

h1, #nagan {
  font-family: serif;
}


#landing-jumbo {
	height: 50vh;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /*text-align-last: center;*/
  /*color: white;*/

  background-image: url('../images/bg2.jpg');
  /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%);*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

#work-btn {
	margin-bottom: 10px;
	color: white;
}

.btn {
	background-color: #006d77;
	border-color: #006d77;
}

.btn:hover {
  background-color: #006d77; 
  border-color: #006d77;
  color: white;
  opacity: 0.5;
}

#capstone, #contact {
	padding: 25px;
}

#capstone {
  padding-bottom: 29px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-top: 20px;
}

.profile {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-img {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 150px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile .icon-block a{
    text-decoration:none;
}
.profile i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}

.profile {
  margin-bottom: 10px;
}

#map {
  margin-bottom: 10px;
}

body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

/*.card-body {
  background-color: #cbebfa;
  background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
}
*/

.title {
  font-size: 25px;
  /*font-style: bold;*/
  font-style: 'Zilla Slab'
}

.card-title {
  font-size: 40px;
}

.card-footer {
  background-color: white
}